/*
Theme Name: Virtue Child
Version: 1.0
Description: A child theme of Virtue
Template: virtue
*/

@import url("../virtue/style.css");

@font-face {
  font-family: Press Style Serif;
  src: url(http://epiclifefitness.com/wp-content/themes/virtue-child/fonts/Press%20Style%20Serif.ttf);
  font-weight: normal;
}

/* Globale Styles */

.contentclass, .headerclass, .footerclass {
	background-color: #333333;
}

h1, h2, h3 {
  font-family: "Press Style Serif", serif !important;
  color: #cd7629 !important;
}

a {
  color: #ffffff;
}

a:hover {
  color: #cd7629;
}

#nav-main ul.sf-menu a {
  font-family: "Press Style Serif", serif !important;
  font-size: 50px !important;
  line-height: inherit !important;
}

#nav-main ul.sf-menu a:hover {
  color: #cd7629;
}

.kad-header-right {
  padding-top: 45px;
}

.page-header {
  padding: 20px 0 20px 0;
}

.topbarmenu ul li a {
  font-size: 25px;
}

.topbarmenu ul li a:hover {
  color: #cd7629;
}

.footer-commercial {
  display: none !important;
}

/* Home Page Styles */


.brand img {
  max-width: 75%;
}

.flexslider {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.box{
  height: 350px;
  padding: 0;
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-box {
  background: url(http://www.epiclifefitness.com/wp-content/uploads/2015/12/SE18-min-small.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.about-box:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}


.training-box {
  background: url(http://www.epiclifefitness.com/wp-content/uploads/2015/12/SE23-min-small.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  background-position: right top -210px;
}

.training-box-mobile {
  background: url(http://www.epiclifefitness.com/wp-content/uploads/2015/12/SE23-min-small.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  background-position: right top -70px;
}

.training-box:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.contact-box {
  background: url(http://www.epiclifefitness.com/wp-content/uploads/2015/12/SE06-min-small.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.contact-box:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.blog-box {
  background: url(http://www.epiclifefitness.com/wp-content/uploads/2015/12/Epic-Life-Fitness-Logo-reverse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.blog-box:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

.overlay {
  background: rgba(0,0,0,.75);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.box:hover .overlay {
  opacity:1;
}

.overlay-mobile {
  background: rgba(0,0,0,.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

/* Contact Form */
.contact-form {
  position: relative;
  top: 50px;
}

.wpcf7 input.wpcf7-submit {
  background-color: #cd7629;
}

.wpcf7 input.wpcf7-submit:hover {
  background-color: #aa6222;
  color: #000;
}



.footercredits {
  text-align: center;
}

/* Mobile Global Styles */

.nav-trigger-case {
  color: #ffffff;
}

.nav-trigger-case .kad-menu-name, .nav-trigger-case .kad-navbtn {
  font-size: 30px;
}

.nav-trigger-case:hover .kad-menu-name, .nav-trigger-case:hover .kad-navbtn {
  color: #cd7629;
}

.kad-mobile-nav .kad-nav-inner li a {
  color: #ffffff;
  font-size: 18px;
}

.kad-mobile-nav .kad-nav-inner li a:hover {
  color: #cd7629;
}

/* Mobile Home Page */

.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.mobile-about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.mobile-about-box h1{
  color: #cd7629 !important;
}

.mobile-pt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #cd7629;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.mobile-pt-box h1 {
  color: #000000 !important;
}

.mobile-catalyst-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.mobile-catalyst-box {
  color: #ffffff !important;
}


/* Media Queries */

@media (max-width: 768px) {
  h1.entry-title {
    text-align: center;
  }
}


